
    <div class="mo-lib-bg-f4f5f7 mo-lib-mx-20px mo-lib-mt-12px d-flex mo-lib-mb-12px ">
      <span class="mo-lib-font-head-1s">Trang chủ</span>
      <div class="mo-lib-ml-auto d-flex align-items-center">
        <span class="mo-lib-font-head-4s mo-lib-pr-12px">
          Chọn dashboard
        </span>
        <div  class="mo-lib-drop_down" style="width: 306px;">
          <div  class=" mo-lib-label mo-lib-font-head-4 undefined mo-lib-label mo-lib-font-head-4 undefined mo-lib-ellipsis">Tất cả</div>
          <span  class="mo-lib-drop_down-caret-down"></span>
        </div>
        <div class="mo-lib-pl-12px">
          <button class="d-flex align-items-center mo-lib-font-head-4 mo-lib-color-ffffff mo-lib-line-height-18px text-align-center mo-lib-border-radius-4px mo-lib-px-12px mo-lib-py-4px mo-lib-cursor-pointer mo-lib-button-blue-solid">
            <i class="mo-icn-add-new mo-lib-mr-8px"></i>
            <span>Thêm widget</span>
          </button>
        </div>
        <div class="mo-lib-button-dropdown d-flex mo-lib-button-dropdown-apply-now-blue-border mo-lib-pl-12px">
          <button class="d-flex align-items-center mo-lib-font-head-4 mo-lib-line-height-18px text-align-center mo-lib-border-radius-4px mo-lib-px-12px mo-lib-py-4px mo-lib-cursor-pointer mo-lib-button-white-solid">

            <span>Thao tác khác</span>
            <span  class="mo-lib-drop_down-caret-down"></span>
          </button>
        </div>
      </div>
    </div>
