.mo-lib-drop_down {
  border: 1px solid #e6e8ed;
  height: 28px;
  padding: 7px 12px;
  padding-right: 20px;
  outline: none!important;
  border-radius: 4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  position: relative;
  width: 100%;
  cursor: pointer;
  .mo-lib-drop_down-caret-down{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #4e4e4e;
    position: absolute;
    right: 10px;
    top: 12px;
  }
}
.mo-lib-button{
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 4px 12px;
  cursor: pointer;

}
.mo-lib-button-blue-solid{
  background: #009cdb;
  border: 1px solid #009cdb;
  &:hover{
    border: 1px solid #00b7ff;
    background: #00b7ff;
  }
}
.mo-lib-button-white-solid{
  background: #ffffff;
  color: #009cdb;
  border: 1px solid #009cdb;
}
