<div class=" mo-lib-min-height-100vh mo-lib-bg-252933" #insideElement
  [ngClass]="{ 'mo-lib-w-60px': toggle, 'mo-lib-w-228px':!toggle }">
  <div

  class="d-flex align-items-center justify-content-between mo-lib-pr-10px mo-lib-h-56px mo-lib-border-bottom-1px-666b79 position-relative mo-lib-pl-12px mo-lib-mr-10px ">
    <a
      title="#"
      class="mo-lib-border-radius-4px mo-lib-bg-ffffff"
      [ngClass]="{'mo-lib-w-24px mo-lib-h-24px ':toggle, 'mo-lib-w-160px mo-lib-h-32px mo-lib-overflow-hidden ':!toggle}"
      >
      <img class="d-flex mo-lib-h-inherit mo-lib-m-auto" src="https://t1.mobio.vn/static/1b99bdcf-d582-4f49-9715-1b61dfff3924/1e48abc7-5277-4f1c-af59-07e8ed402e47.jpg"
        alt="logo" [ngClass]="{' mo-lib-max-width-160px ': !toggle, ' mo-lib-p-2px mo-lib-max-width-24px': toggle}" />
    </a>
    <div class="togger mo-lib-font-size-8px mo-lib-cursor-pointer mo-lib-ml-10px"
      (click)="handlerClickOpenSmallSidebar()">
      <i
        class="mo-lib-border-radius-50px mo-lib-h-20px  mo-lib-w-20px align-items-center mo-lib-bg-009cdb mo-lib-color-ffffff justify-content-center d-flex mo-lib-z-index-1000"
        [ngClass]="{ 'mo-icn-forward  position-absolute mo-lib-right--20px mo-lib-top-20px': toggle==true,'mo-icn-back-filter ':toggle==false }">
      </i>
    </div>
  </div>
  <div class="sidebar mo-lib-overflow-y-auto mo-lib-calc-vh-56px">
      <div class="mo-lib-bg-hover-303642 " *ngFor="let item of data; let i = index"  [ngClass]="{ 'd-flex justify-content-center position-relative hoverSpan': toggle, 'router-link-active2':item.hiden}" >
        <a (click)="routerLinkUrlSidebarLv1(item)" (click)="paddingTopSidebar($event)"
        class="d-flex align-items-center mo-lib-h-36px  mo-lib-cursor-pointer mo-lib-bg-hover-303642 hoverSpan"
        style="text-decoration: none;"
        [ngClass]="{'mo-lib-bg-303642':item.show, 'w-100 justify-content-center':toggle, 'mo-lib-pr-14px mo-lib-pl-12px':!toggle}"
        (click)="handlerClickShowSidebar1(item, data)">
          <i class="{{item.icon}} mo-lib-w-14px mo-lib-h-14px mo-lib-font-size-14px"
          [ngClass]="{ 'mo-lib-color-ffffff': item.show, 'mo-lib-color-929499': !item.show }">
          </i>

          <span *ngIf="toggle==false" class=" d-flex mo-lib-mr-10px mo-lib-pl-14px mo-lib-font-head-3s"
            [ngClass]="{ 'mo-lib-color-ffffff': item.show, 'mo-lib-color-929499': !item.show }">
              {{ item.name }}
          </span>

          <span *ngIf="item.childrens && toggle==false "
              class="mo-lib-color-ffffff mo-lib-font-size-8px mo-lib-ml-auto"
              [ngClass]="{' mo-icn-forward': item.show==false,'mo-icn-down-arrow':item.show == true}">
          </span>
        </a>


        <div  class=" mo-lib-bg-151921" [ngStyle]="{'top':addStyleCss === 0 ? '0' : addStyleCss + 'px'}"
        *ngIf="item.show == true"
        [ngClass]="{'mo-lib-z-index-1000 mo-lib-overflow-hidden position-fixed mo-lib-w-238px  mo-lib-left-60px mo-lib-border-left-1px-666b79 mo-lib-border-radius-top-right-8px mo-lib-border-radius-bottom-right-8px':toggle}">
          <div class="" *ngFor="let childrens1 of item.childrens">
            <a  (click)="handlerClickShowSidebar2(childrens1, item.childrens, data)" (click)="routerLinkUrlSidebarLv2(childrens1, item, data)"
              class="mo-lib-hover-ffffff mo-lib-m-auto align-items-center mo-lib-h-36px mo-lib-pr-14px mo-lib-pl-12px d-flex mo-lib-mr-10px mo-lib-cursor-pointer mo-lib-font-head-3s"
              [ngClass]="{'mo-lib-color-ffffff':childrens1.show,'mo-lib-color-929499 ': childrens1.show==false && !childrens1.hiden, 'router-link-active':!childrens1.childrens && childrens1.hiden, 'router-active':childrens1.childrens && childrens1.hiden}">
              {{ childrens1.name }}
                <span *ngIf="childrens1.childrens"
                  class="mo-lib-color-ffffff mo-lib-font-size-8px mo-lib-ml-auto"
                  [ngClass]="{'mo-icn-forward': childrens1.show == false, 'mo-icn-down-arrow':childrens1.show == true}"
                  >
                </span>
            </a>

            <div *ngIf="childrens1.show == true ">
              <div *ngFor="let childrens3 of childrens1.childrens"
              [ngClass]="{ 'router-link-active3':childrens3.hiden == true }">
                <a
                (click)="handlerClicksidebar3(childrens3,data)" (click)="routerLinkUrlSidebarLv3(childrens3)"
                class="mo-lib-bg-hover-303642 mo-lib-hover-ffffff mo-lib-color-929499 align-items-center d-flex mo-lib-h-36px mo-lib-pr-14px mo-lib-pl-18px mo-lib-cursor-pointer mo-lib-font-head-3s">
                  {{ childrens3.name }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
