
.router-link-active{
    color: #ffffff !important;
    position: relative !important;
    background-color: #303642!important;
    &::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #009cdb ;
    }
}
.router-link-active3{
  position: relative;
  background-color: #303642!important;
  &::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #009cdb ;
  }
  a{
    color: #ffffff !important;
  }
}

.router-link-active2{
  background-color: #303642!important;
  a{
    span{
      color: #ffffff !important;
    }
    i::before{
      color: #ffffff !important;
    }
  }
}

.router-active{
    color: #ffffff !important;
}

.hoverSpan{
  &:hover span{
      color: #ffffff !important;
  }
  &:hover i::before{
    color: #ffffff !important;
  }
}
